*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Tahoma;
}

body{
background:#111;
color:#fff;
scroll-behavior:smooth;
}

/* NAV */
.navbar{
position:sticky;
top:0;
display:flex;
justify-content:space-between;
align-items:center;
padding:12px;
background:#000;
z-index:1000;
}

.nav-links{
display:flex;
gap:10px;
list-style:none;
}

.nav-links a{
color:#fff;
text-decoration:none;
}

.cart-btn{
background:gold;
border:none;
padding:6px 10px;
border-radius:6px;
}

/* HERO */
.hero{
text-align:center;
padding:50px 20px;
}

/* MENU */
.menu{
padding:20px;
}

.card{
background:#1a1a1a;
padding:15px;
border-radius:12px;
margin-bottom:15px;
}

.card img{
width:100%;
border-radius:10px;
}

.price{
margin:10px 0;
color:gold;
}

button{
background:gold;
border:none;
padding:8px;
border-radius:6px;
cursor:pointer;
}

/* CONTACT */
.contact{
padding:20px;
}

/* CART */
.cart-modal{
position:fixed;
inset:0;
background:rgba(0,0,0,0.6);
display:none;
justify-content:center;
align-items:center;
}

.cart-box{
background:#222;
width:90%;
max-width:350px;
padding:15px;
border-radius:10px;
}

.cart-footer{
display:flex;
justify-content:space-between;
margin-top:10px;
}

.close{
margin-top:10px;
width:100%;
background:red;
color:#fff;
}
